<li class="nav-item">
  <a class="nav-link" href="#" onclick="mostrarSeccion('cursos')"></a>
</li>



  <div class="container">
    <div class="row g-4">
      
 

      <!-- 2 BÁSICO -->
      <div class="col-md-6 col-lg-3">
        <div class="card h-100 shadow">
          <div class="card-body text-center">
            <h3 class="card-title">2 BÁSICO</h3>
            <p class="text-muted">2 Elementary Grade</p>
            <ul class="list-unstyled">
              <li><a href="/proyectoingless/2basico/1unidad/index.html">Unidad 1</a></li>
              <li><a href="/proyectoingless/2basico/2unidad/index.html">Unidad 2</a></li>
              <li><a href="/proyectoingless/2basico/unidad2/index.html">Unidad 2-1</a></li>
              <li><a href="/proyectoingless/2basico/3unidad/3unidad.html">Unidad 3</a></li>
              <li><a href="/proyectoingless/2basico/4unidad/html/index.html">Unidad 4</a></li>
            </ul>
          </div>
        </div>
      </div>

  

      <!-- 4 BÁSICO -->
      <div class="col-md-6 col-lg-3">
        <div class="card h-100 shadow">
          <div class="card-body text-center">
            <h3 class="card-title">4 BÁSICO</h3>
            <p class="text-muted">4 Elementary Grade</p>
            <ul class="list-unstyled">
              <li><a href="/proyectoingless/4basico/1unidad/index.html">Unidad 1</a></li>
             
              <li><a href="/proyectoingless/4basico/4unidad/index.html">Unidad 4</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
